aenum==3.1.14
beautifulsoup4==4.12.2
certifi==2023.5.7
charset-normalizer==3.1.0
colorama==0.4.6
decorator==5.1.1
idna==3.4
jsonpatch==1.33
jsonpath-rw==1.4.0
jsonpointer==2.4
lxml==4.9.2
ply==3.11
pyasn1==0.5.0
pyasn1-modules==0.3.0
redfish==3.1.9
redfish-protocol-validator==1.1.8
redfish-service-validator==2.3.1
requests==2.31.0
requests-toolbelt==1.0.0
requests-unixsocket==0.3.0
six==1.16.0
soupsieve==2.4.1
sseclient-py==1.7.2
urllib3==1.26.16
